<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semantic Searching - Final Year Papers</title>

    <link rel="stylesheet" href="{{ url_for("static", path="/styles.css") }}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>
<body>
<div>
    <form hx-get="/hx-search" hx-target="#search-results" hx-indicator=".htmx-indicator">
        <label for="search">Search:</label>
        <input id="search" name="query" type="search">

        <select name="type" id="type">
            {% for pipeline in context.available_pipelines %}
                <option value="{{ pipeline }}">{{ pipeline }}</option>
            {% endfor %}
        </select>

        <select name="top_k" id="top_k">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>

        <button type="submit">Search</button>

        <span class="htmx-indicator">
            <img src="{{ url_for("static", path="img/bars.svg") }}" alt="">
        </span>

        <input id="toggle-details" type="checkbox">
        <label for="toggle-details">Show Details</label>
    </form>

    <form hx-post="/hx-refresh" hx-target="#serch-results">
        <input type="checkbox" name="use_hyde" id="hyde">
        <label for="hyde">Apply Hypothetical Document Embeddings (HyDE)</label>

        <input type="checkbox" name="use_bm25" id="bm25">
        <label for="bm25">Apply BM25 Hybrid Search</label>

        <input type="checkbox" name="use_evaluator" id="evaluator">
        <label for="evaluator">Apply Semantic Evaluation Metrics</label>
    </form>

    <div id="search-results">
    </div>
</div>
<script>
    document.querySelector("input#toggle-details").addEventListener("change", (event) => {
        const detail_tags = document.querySelectorAll("details");
        if (event.target.checked)
            detail_tags.forEach((value) => value.setAttribute("open", ""));
        else
            detail_tags.forEach((value) => value.removeAttribute("open"));
    })
</script>

</body>
</html>