{% for row in documents.iter_rows(named=True) %}
    <div>
        <h2>{{ row["title"] }}</h2>

        <p>{{ row["abstract"] }}</p>

        <p>Algorithm rank: {{ row["score"] }}</p>

        <table class="metrics">
            <caption>
                Metrics
            </caption>
            <tr>
                <th>Similarity:</th>
                <td>{{ row["similarity_metric"] }}</td>
            </tr>
        </table>
    </div>
{% endfor %}
