{% if documents | length == 0 %}
    <div>
        Words not recognized
    </div>
{% endif %}

<div>
    Time taken {{ time_s }} seconds.
</div>

{% for doc, similarity in documents %}
    <div>
        <h2>{{ doc.id }}</h2>

        <p>{{ doc.content }}</p>

        <details>
            <summary>Details</summary>

            <p>Algorithm rank: {{ doc.score }}</p>

            <table>
                <caption>
                    Metrics
                </caption>
                <tr>
                    <th>Similarity:</th>
                    <td>{{ similarity }}</td>
                </tr>
            </table>
        </details>
    </div>
{% endfor %}
