{% if documents | length == 0 %}
    <div>
        Words not recognized
    </div>
{% endif %}
{% for row in documents.iter_rows(named=True) %}
    <div>
        <h2>{{ row["title"] }}</h2>

        <p>{{ row["abstract"] }}</p>

        <details>
            <summary>Details</summary>

            <p>Algorithm rank: {{ row["score"] }}</p>

            <table>
                <caption>
                    Metrics
                </caption>
                <tr>
                    <th>Similarity:</th>
                    <td>{{ row["similarity_metric"] }}</td>
                </tr>
            </table>
        </details>
    </div>
{% endfor %}
